.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 15px;
}

.title {
  margin: 0;
}

.button {
  outline: 1px solid grey;
  background: #eeeeee;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  padding: 5px 20px;
}
