.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 0 0 20px;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 5px;
  outline: none;
}

.checkbox {
  margin: 0;
  cursor: pointer;
}
