.app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 30px;
}

.block {
  margin: 0 0 50px;
}

.title {
  font-size: 20px;
  margin: 0 0 10px;
}

.todolists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

span {
  font-size: 14px;
}
