.list {
  display: flex;
  gap: 50px;
  padding: 20px;
}

.item {
  padding: 20px;
}

.todolist-title-container {
  display: flex;
  align-items: center;
}

.input {
  margin: 0 0 20px;
}
